**/.DS_Store
*.
.history
.yarn
bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
dist
dist-dev
lib-types
etc
external
node_modules
temp
tsc-out
tsdoc-metadata.json
target
output
rollup.config.js
build
.cache
.vscode
.rollup.cache
tsconfig.tsbuildinfo
vite.config.ts
.netlify
pnpm-lock.yaml
package-lock.json
server
tailwind.config.js
meilisearch.config.mjs
postcss.config.js
test