/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
    @apply font-body;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    /*font-family:*/
    /*  ui-sans-serif,*/
    /*  system-ui,*/
    /*  -apple-system,*/
    /*  BlinkMacSystemFont,*/
    /*  "Segoe UI",*/
    /*  Roboto,*/
    /*  "Helvetica Neue",*/
    /*  Arial,*/
    /*  "Noto Sans",*/
    /*  sans-serif,*/
    /*  "Apple Color Emoji",*/
    /*  "Segoe UI Emoji",*/
    /*  "Segoe UI Symbol",*/
    /*  "Noto Color Emoji";*/
}

body {
    padding: 0;
    line-height: inherit;
}

.uk-spinner > * {
    animation: uk-spinner-rotate 1.4s linear infinite
}

@keyframes uk-spinner-rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(270deg)
    }
}

.uk-spinner > * > * {
    stroke-dasharray: 88px;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: uk-spinner-dash 1.4s ease-in-out infinite;
    stroke-width: 1;
    stroke-linecap: round;
}

@keyframes uk-spinner-dash {
    0% {
        stroke-dashoffset: 88px
    }

    50% {
        stroke-dashoffset: 22px;
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 88px;
        transform: rotate(450deg)
    }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


.container {
    margin-top: 10px;
    margin-bottom: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.slider {
    width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
}

.slider__track {
    background-color: #eeeeee;
    width: 100%;
    z-index: 1;
}

.slider__range {
    @apply bg-primary-300;
    z-index: 2;
}

.slider__left-value,
.slider__right-value {
    @apply text-slate-700;
    font-size: 12px;
    margin-top: 20px;
}

.slider__left-value {
    left: 0;
}

.slider__right-value {
    text-align: right;
    right: 0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
}

.thumb--left {
    z-index: 3;
}

.thumb--right {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    @apply border-primary-300 bg-primary-100 rounded-md shadow-2xl;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    @apply border-primary-300 bg-primary-100 rounded-md shadow-2xl;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

.sheet::backdrop {
    background: hsla(0, 0%, 0%, 0.5);
}

.sheet.modal-showing {
    animation: sheetOpen 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet.modal-showing::backdrop {
    animation: sheetFadeIn 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet.modal-closing {
    animation: sheetClose 0.35s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet.modal-closing::backdrop {
    animation: sheetFadeOut 0.35s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

@keyframes sheetOpen {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes sheetClose {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes sheetFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sheetFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

#nprogress .spinner-icon {
    display: none;
}