/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
    @apply font-body;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    /*font-family:*/
    /*  ui-sans-serif,*/
    /*  system-ui,*/
    /*  -apple-system,*/
    /*  BlinkMacSystemFont,*/
    /*  "Segoe UI",*/
    /*  Roboto,*/
    /*  "Helvetica Neue",*/
    /*  Arial,*/
    /*  "Noto Sans",*/
    /*  sans-serif,*/
    /*  "Apple Color Emoji",*/
    /*  "Segoe UI Emoji",*/
    /*  "Segoe UI Symbol",*/
    /*  "Noto Color Emoji";*/
}

body {
    padding: 0;
    line-height: inherit;
}

.uk-spinner > * {
    animation: uk-spinner-rotate 1.4s linear infinite
}

@keyframes uk-spinner-rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(270deg)
    }
}

.uk-spinner > * > * {
    stroke-dasharray: 88px;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: uk-spinner-dash 1.4s ease-in-out infinite;
    stroke-width: 1;
    stroke-linecap: round;
}

@keyframes uk-spinner-dash {
    0% {
        stroke-dashoffset: 88px
    }

    50% {
        stroke-dashoffset: 22px;
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 88px;
        transform: rotate(450deg)
    }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}